@import 'variables.css';

@media only screen and (min-width: 768px) {
    body {
        background-color: var(--eggshell);
        margin: 0 auto;
        width: 100%;
    }

    main {
        max-width: 900px;
        background-color: var(--white);
        padding: 30px;
        border-radius: 20px;
        margin: 30px;
    }

    img {
        border-radius: 20px;
    }

    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    footer p {
        margin-left: 30px;
    }

}